body {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    margin: 0%;
    padding: 0px;
    background-color: white;
    align-items: center;
}

button {
    margin-top: 30px;
    font-size: 18px;
    width: auto;
    margin-left: 650px;
}

table {
    justify-content: center;
}

.styled-table {
    display: none;
}

tbody, th, td {
    border: 1px solid;
    margin: 20px 0;
}
